.channel {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  cursor: pointer;

  .channelImage {
    width: 49px;
    height: 49px;
    object-fit: contain;
    border-radius: 15px;
  }

  .channelBody {
    padding-left: 11px;
    .channelTag {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.34px;
      color: #ffffff;
    }

    .channelUsers {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.29px;
      color: #6f747e;
    }
  }
}
