.comment {
  width: 450px;
  padding: 16px;
  border-radius: 10px;
  background-color: #27272c;
  margin-bottom: 15px;

  .commentHeader {
    display: flex;
    justify-content: space-between;

    .userInfo {
      display: flex;

      .userImage {
        width: 48px;
        height: 48px;
        object-fit: contain;
        margin-right: 15px;
        border-radius: 15px;
        cursor: pointer;
        user-select: none;
      }

      .userTexts {
        padding-top: 5px;
        .username {
          font-size: 15px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -0.24px;
          color: #ffffff;
          cursor: pointer;

          img {
            width: 28px;
            height: 13px;
            object-fit: contain;
            margin-left: 5px;
          }
        }

        .userMore {
          display: flex;

          .atUsername {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #0091ff;
            cursor: pointer;
          }

          .followers {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: rgba(235, 235, 245, 0.6);
            margin-left: 6px;
          }
        }
      }
    }

    .hours {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: right;
      color: rgba(235, 235, 245, 0.3);
    }
  }

  .commentText {
    margin-top: -20px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #f2f2f2;

    .readMore {
      color: #0091ff;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .left {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 30px;
        object-fit: contain;
        cursor: pointer;
        user-select: none;
      }

      .button2 {
        margin-left: 11px;
      }

      .button3 {
        margin-left: 11px;
      }

      .claps {
        margin-left: 11px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: rgba(235, 235, 245, 0.6);
      }
    }

    .right {
      display: flex;
      align-items: center;

      .commentsIcon {
        width: 17px;
        height: 15px;
        object-fit: contain;
        cursor: pointer;
      }

      .commentNumber {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: right;
        color: rgba(235, 235, 245, 0.6);
        margin-right: 10px;
      }

      .firstComment {
        color: #0091ff;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
