@import '../variables';

.gameshub {
  .title {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9797973a;
    margin-bottom: 33px;

    .text {
      display: flex;
      align-items: center;

      .header {
        color: $tertiaryFont;
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.67;
        letter-spacing: -0.5px;
      }

      .explanation {
        margin-left: 38px;
        opacity: 0.5;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: -0.19px;
        color: #c5d2e3;
      }
    }

    .discover {
      width: 97px;
      height: 30px;
      border-radius: 5px;
      border: solid 1px $secondaryFont;
      color: $secondaryFont;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }

  .inner {
    display: flex;

    .tabTitle {
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: -0.28px;
      margin-bottom: 21px;
    }

    .discoverForTabs {
      width: 133px;
      height: 30px;
      border-radius: 5px;
      border: solid 1px $secondaryFont;
      color: $secondaryFont;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      margin-top: 15px;
    }

    // .latest {
    // }

    .brace {
      width: 259px;
      height: 1px;
      background-image: linear-gradient(to bottom, #0d0d0e 0%, #121214 100%);
      margin-top: -5px;
      margin-bottom: 16px;
    }

    .channels {
      margin-left: 35px;
      padding-left: 1px;
    }

    .whoto {
      margin-left: 25px;
      padding-left: 1px;
    }
  }
}
