@import '../variables';

.topbar {
  width: 100vw;
  height: 128px;
  background-color: $topbar-1;
  position: relative;
  border-bottom: 1px solid #0b0b0c;

  .inner {
    width: 100%;
    height: 80px;
    background-color: $topbar-2;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0b0b0c;

    .profileImage {
      width: 90px;
      height: 90px;
      object-fit: contain;
      margin-top: 42px;
      margin-right: 28px;
      margin-left: 188px;
    }

    .searchDiv {
      width: 614px;
      height: 44px;
      border-radius: 6px;
      background-color: #111113;
      padding: 0;
      display: flex;
      align-items: center;

      input {
        width: 90%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding-left: 18px;
        font-family: Rubik;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.36px;
        color: rgba(235, 235, 245, 0.6);
        font-family: Rubik-Regular;
      }

      .searchIcon {
        width: 24px;
        height: 24px;
        object-fit: contain;
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .profileIcon {
      cursor: pointer;
      width: 20px;
      height: 21px;
      margin-left: 36px;
    }

    .saveIcon {
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin-left: 38px;
    }

    .brace {
      width: 1px;
      height: 100%;
      background-color: $braceHeader;
      margin-left: 29px;
    }

    .shapeIcon {
      cursor: pointer;
      width: 19px;
      height: 21px;
      margin-left: 30px;
    }

    .loveIcon {
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin-left: 30px;
    }

    .shoppingIcon {
      cursor: pointer;
      width: 24px;
      height: 21px;
      margin-left: 31px;
    }
  }

  .tabs {
    position: absolute;
    display: flex;

    .tab1 {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 50px;

      margin-left: 308px;
      width: 139px;
      background-image: linear-gradient(to bottom, #39393f, rgba(34, 34, 37, 0)),
        linear-gradient(to bottom, #222225, $dark-grey);
      border-top: 2px solid #0091ff;

      .homeIcon {
        width: 18px;
        height: 18px;
        object-fit: contain;
        margin-right: 9px;
      }

      font-size: 17px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.1px;
      text-align: center;
      color: #0091ff;
    }

    .tab2 {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 48px;

      width: 250px;
      border-left: 2px solid #09090a;

      .gamesIcon {
        width: 16px;
        height: 12px;
        object-fit: contain;
        margin-right: 7px;
        margin-left: 71px;
      }
    }

    .tab3 {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 48px;

      width: 255px;
      border-left: 2px solid #09090a;

      .marketIcon {
        width: 15px;
        height: 12px;
        object-fit: contain;
        margin-right: 10px;
        margin-left: 80px;
      }
    }

    .tab4 {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 48px;

      width: 269px;
      border-left: 2px solid #09090a;

      .tournamentsIcon {
        width: 13px;
        height: 12px;
        object-fit: contain;
        margin-right: 7px;
      }
    }
  }
}
