.userComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 12px;

  .left {
    display: flex;
    align-items: center;

    .userImage {
      width: 48px;
      height: 48px;
      object-fit: contain;
      border-radius: 15px;
      cursor: pointer;
    }

    .userBody {
      align-items: center;
      padding-left: 13px;
      padding-top: 4px;
      .username {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -0.22px;
        color: #e5e5e5;
        cursor: pointer;
      }

      .userFollowers {
        font-family: Rubik;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.29px;
        color: #6f747e;
      }
    }
  }

  .addUserButton {
    width: 26px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
  }
}
