@import './variables';

@font-face {
  font-family: Rubik-Regular;
  src: url(../fonts/Rubik-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: $dark-grey;
  color: $primaryFont;
  font-family: Rubik-Regular;
}

//-460
